* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
.containor {
  width: 85%;
  margin: auto;
  background: #eee;
  min-height: 780px;
  height: auto;
  overflow: hidden;
}
.header {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  margin-bottom: 5px;
  background-color: #a9a9a9;
  height: 60px;
  align-items: center;
}
.header .user-title {
  display: flex;
  width: 35%;
  margin: auto;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.header .user-title h2 {
  color: #2b2b2b;
  font-weight: 600;
  font-size: 1.3rem;
}
.header .user-title a {
  background-color: #2b2b2b;
  /* font-weight: 400; */
  color: #fff;
}
.header .user-title img {
  width: 45px;
  border-radius: 50%;
}
.header .menu-bar {
  display: flex;
  width: 65%;
  margin: auto;
  justify-content: space-evenly;
}
.header a {
  color: #000;
  border: 1px solid black;
  padding: 5px;
  background-color: #eee;
  font-size: 1.3rem;
}

.inputs form {
  margin: 50px auto;
  height: 550px;
  width: 370px;
  background-color: #dadada;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.courses-inputs form {
  height: 400px;
}
.inputs form label {
  align-self: flex-start;
}

.inputs form .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 35px;
}

.inputs form select,
.inputs form input {
  width: 100%;
  height: 35px;
  padding: 0 10px;
}
#course {
  height: 75px;
  padding: 10px;
}
#courses-title {
  align-self: flex-start;
}

.inputs form .btn {
  width: 50%;
  height: 35px;
}

/* display data*/

.stu-show-title {
  text-align: center;
  margin: 25px 0;
}
.table-wrap {
  height: 500px;
  overflow-y: auto;
}
.student-table {
  width: 95%;
  margin: 20px auto;
  text-align: center;
  border-bottom: 1px solid #111;
  border-top: 1px solid #111;
}
.student-table thead {
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 2;
  background-color: rgb(45, 45, 45);
  color: #fff;
}

.student-table thead th {
  padding: 10px;
  font-size: 1.2rem;
}

.student-table tbody td {
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #111;
}

.btns-student-table {
  width: 95%;
  margin: auto;
  display: flex;
  padding: 25px 5px;
}
.btn-link {
  border: 1px solid;
  padding: 10px;
  background-color: #4873f6;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}
/*//////////////////*/
.card-courses {
  width: 450px;
  min-height: 175px;
  background-color: #b0aeae;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.card-courses .info-card {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(41, 41, 41);
}
.card-courses .courses-table {
  width: 100%;
  text-align: center;
  border: 1px solid black;
}
.card-courses .courses-table thead {
  background-color: rgb(45, 45, 45);
  color: #fff;
  font-size: 1.2rem;
}
.card-courses .courses-table th {
  padding: 10px;
}
.card-courses .courses-table td {
  padding: 10px;
  font-size: 1.1rem;
  border-bottom: 1px solid #111;
}
/* ////////////////////////////// */
.custom-btn {
  background-color: #4cb821;
  font-size: 1.1rem;
  padding: 7px;
}

.btn-ed-del {
  border: 1px solid;
  display: inline-block;
  width: fit-content;
  padding: 8px;
  background-color: #8f8f8f;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.btn-ed-del:first-child {
  background-color: #b84444;
}
.btn-ed-del:nth-child(2) {
  background-color: #c58531;
}
#close-card-courses {
  align-self: flex-end;
  font-size: 1.5rem;
  cursor: pointer;
}
.none {
  display: none!important;
}
/* table time */

.time-table h2{
  text-align: center;
}
.time-table table td {
  text-align: center;
}

.show-table-lecture{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 100px;
}

.tame-table-lecture{
  width: 600px;
  text-align: center;
  margin: auto;
}